:root {
  --clr-mainColor: #37319b;
  --clr-secondaryColor: #711bce;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey: grey;
  --clr-github: #211f1f;
  --clr-linkedin: #0a66c2;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
}
